{{> head}}

    {{> navbar}}

   <div class="col-xs-12">
       <h1>Creacion de {{name}}</h1>
       <p>Imagen de prueba para probar algo que estoy probando ahree</p>
   </div>
   <div class="col-xs-9">
       <img src="../public/assets/img/comida.jpg"  class="img-thumbnail" alt="comida"/>
   </div>
    
 {{> footer}}